---
import { getCollection } from 'astro:content';

const places = await getCollection('places');
---

<ul>
  {places.map(place => (
    <li>
      <a href={`/places/${place.id}`}>
        {place.data.name} ({place.data.latitude}, {place.data.longitude})
      </a>
    </li>
  ))}
</ul>
